{% extends "base.html" %}

{%block title%}
Categorias
{%endblock title%}


{% block body %}
<div class="container mt-5">
  <div class="row">
      <div class="col-md-4">
          <div class="card h-100">
              <img src="https://images.unsplash.com/photo-1523050854058-8df90110c9f1" class="card-img-top" alt="Togas Clásicas">
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Togas Clásicas</h5>
                  <p class="card-text">Las togas tradicionales para graduación en diferentes colores y estilos.</p>
                  <a href="/togas_clasicas" class="btn btn-outline-primary mt-auto"><i class="fa-solid fa-arrow-right fa-lg"></i> Ver más</a>
              </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card h-100">
              <img src="https://images.pexels.com/photos/1205651/pexels-photo-1205651.jpeg" class="card-img-top" alt="Togas Personalizadas">
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Togas Personalizadas</h5>
                  <p class="card-text">Crea una toga única con detalles bordados y colores personalizados.</p>
                  <a href="/togas_personalizadas" class="btn btn-outline-secondary mt-auto"><i class="fa-solid fa-arrow-right fa-lg"></i> Ver más</a>
              </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card h-100">
              <img src="https://us.123rf.com/450wm/123stockbie/123stockbie1703/123stockbie170300347/79320916-casquillo-de-la-graduaci%C3%B3n-sombrero-con-el-papel-del-grado-en-la-tabla-de-madera-fondo-abstracto.jpg?ver=6" class="card-img-top" alt="Birretes y Accesorios">
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Birretes y Accesorios</h5>
                  <p class="card-text">Desde birretes hasta borlas, todo lo que necesitas para completar tu graduación.</p>
                  <a href="/birretes_accesorios" class="btn btn-outline-success mt-auto"><i class="fa-solid fa-arrow-right fa-lg"></i> Ver más</a>
              </div>
          </div>
      </div>
  </div>

  <div class="row mt-4">
      <div class="col-md-4">
          <div class="card h-100">
              <img src="https://gestion.pe/resizer/o-DTVBkHxfhOG5M06V5STITGtqY=/620x0/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/DA5PX3DTUBGMJOIQQSLAEZGWK4.jpg" class="card-img-top" alt="Togas de Honor">
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Togas de Honor</h5>
                  <p class="card-text">Diseños exclusivos para graduados con honores y menciones especiales.</p>
                  <a href="/togas_honor" class="btn btn-outline-info mt-auto"><i class="fa-solid fa-arrow-right fa-lg"></i> Ver más</a>
              </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card h-100">
              <img src="https://merida.anahuac.mx/hs-fs/hubfs/Egresados/licenciatura%20toga.jpg?width=807&height=538&name=licenciatura%20toga.jpg" class="card-img-top" alt="Togas Universitarias">
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Togas Universitarias</h5>
                  <p class="card-text">Modelos de togas oficiales para distintas universidades y colegios.</p>
                  <a href="/togas_universitarias" class="btn btn-outline-dark mt-auto"><i class="fa-solid fa-arrow-right fa-lg"></i> Ver más</a>
              </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card h-100">
              <img src="https://www.torresphotostudio.com/wp-content/uploads/2023/06/Sesion-de-Fotos-de-Graduacion-en-Lima-Peru.jpg" class="card-img-top" alt="Fotografía de Graduación">
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Fotografía de Graduación</h5>
                  <p class="card-text">Sesiones fotográficas con toga para inmortalizar tu gran día.</p>
                  <a href="/fotografia_graduacion" class="btn btn-outline-warning mt-auto"><i class="fa-solid fa-arrow-right fa-lg"></i> Ver más</a>
              </div>
          </div>
      </div>
  </div>
</div>

{%endblock body%}