{% extends "base.html" %}
{% block title %} Nosotros {% endblock title %}
{% block body %}


  <!-- ***** Main Banner Area Start ***** -->
  <div class="page-heading about-page-heading" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner-content">
            <h2>Nosotros</h2>
            <span>LAS TOGAS Y VESTUARIOS.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->
  
  <!-- ***** About Area Starts ***** -->
  <div class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image">
            <img src="static/assets/images/about-left-image.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-content">
            <h4 class="text-white">Nuestra Tienda</h4>
            <span>En Togas y Vestuarios, nos especializamos en ofrecer indumentaria de calidad, combinando tradición y elegancia para cada ocasión.</span>
            <div class="quote">
              <p class="text-white">Sincelejo ya tiene una empresa que hace mas fácil la organización de tus eventos..</p>
            </div>
            <p>Alquiler de togas para grados, vestidos de primera comunión, vestidos de novia, camisas guayaberas, vestidos enteros, smoking, vestidos folclóricos, mantelería, forros para sillas con lazos, globos chinos, tensores, sillas, mesas plásticas, torres para arreglos de flores, atriles, candelabros, alfombras camino real, antorchas. Dotaciones de uniformes empresariales e industriales, uniformes de institución en general.</p>
            <ul>
              <li><a href="https://web.facebook.com/lastogass/?locale=es_LA&_rdc=1&_rdr#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/lastogassincelejo/?hl=es"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** About Area Ends ***** -->
  
  <!-- ***** Our Team Area Starts ***** -->
  <section class="our-team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2 class="text-white"> Nuestro increíble equipo </h2>
            <span class="text-white">Contamos con un excelente equipo de Porfesionales.</span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-item">
            <div class="thumb">
              <div class="hover-effect">
                <div class="inner-content">
                  <ul>
                    <li><a href="https://es-la.facebook.com/people/Juan-Hernandez/pfbid0i2LpAS54RjTpdvEEG2frWtY25zZaFP6qBUwEnA3kqgdydE64mszV4M4Uv6z2Yy7fl/"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                </div>
              </div>
              <img src="static/images/team-1.jpg">
            </div>
            <div class="down-content">
              <h4 class="text-white">Juan Hernandez</h4>
              <span class="text-white">Asesor Comercial</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-item">
            <div class="thumb">
              <div class="hover-effect">
                <div class="inner-content">
                  <ul>
                    <li><a href="https://es-la.facebook.com/people/Maira-Garcia/pfbid0znCiJjpN9S4wsCQhfAVVcykJczQvSF2gRvnFxtgEJ5943pGh5yK8WK4dxiwxckgDl/"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                </div>
              </div>
              <img src="static/images/team-2.jpg">
            </div>
            <div class="down-content">
              <h4 class="text-white">Maira Garcia </h4>
              <span class="text-white" >Gerente de Marketing</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-item">
            <div class="thumb">
              <div class="hover-effect">
                <div class="inner-content">
                  <ul>
                    <li><a href="https://es-la.facebook.com/people/Yesica-Ruiz/pfbid0SLjMMBF6CH91qDXSo6nGzhVQhe8bck8Dhoi9YUW6Fow5VWViUmT4iPu61wiGjAQ8l/"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                </div>
              </div>
              <img src="static/images/team-3.jpg">
            </div>
            <div class="down-content">
              <h4 class="text-white">Yessica Ruiz</h4>
              <span class="text-white">Administradora</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Our Team Area Ends ***** -->


{% endblock body %}
